<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Download Library - Spotify Library Exporter</title>
	<link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700" rel="stylesheet" />
	<link href="/assets/style.css" rel="stylesheet" />
	<link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon.png">
</head>
<body>
	<div id="app">
	
	<script src="https://unpkg.com/react@15.6.1/dist/react.min.js"></script>
	<script src="https://unpkg.com/react-dom@15.6.1/dist/react-dom.min.js"></script>
	<script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.5.2/superagent.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.5.0/qs.min.js"></script>
	<script type="text/babel" src="/assets/download.js"></script>
</body>
</html>